$color-primary: black;
$bg-color-primary: white;
$color-white: white;
$color-secondary: #eb4034;


// FOOTER 
$ft-bg-color: rgb(34, 33, 33);


// BTN 
$btn-primary: #e62e00;
$btn-primary-hover: tomato;