.product__section {
    min-height: 100vh;
    position: relative;

    &-heading {
        font: 400 2rem "Roboto";
        text-align: center;
        border-bottom: 1px solid rgb(105, 105, 105);
        width: 25rem;
        padding: 1rem;
        margin: 5rem auto;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .product__container {
        font-family: "Roboto", sans-serif;
        padding: 2rem;
        @include flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 3rem auto;
        // position: relative;

  
    }
}


// SLIDE ANIMATION 
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


// MEDIA 
@include media(480px) {
    .product__section {
        &-heading {
            font: 400 1.5rem "Roboto";
        }
    }
}