.navbar {
    width: 100vw;
    height: 100vh;
    font-family: "roboto", sans-serif;
    font-size: 1.3rem;
    position: relative;
    padding: 2rem;
    @include flex;
    // flex-direction: column;
    gap: 4rem;

    .nav__links {
        @include flex;
        list-style-type: none;
        li {
            margin: 1rem;
        }
    }

    .nav__links--icons {
        svg {
            margin: 1rem;
        }
    }
}




// ANIMAT
